<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,300i,400,500,700,900" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  <section class="top-section">
    <div class="heading-flex">
      <h1>mikemarlow<span class="net--style">.net</span></h1>
    </div>
    <div class="co-flex">
      <h3>Denver, CO</h3>
    </div>
  </section>

  <section class="bottom-section">
      <nav class="site-nav">
        <div class="nav-details-container">
          <details>
            <summary>
              <a class="info-block">
                <h2>info.</h2>
              </a>
            </summary>
              <article class="info-container">
                <div class="headshot-container">
                  <img class="headshot" src="/Users/Next2Last/Desktop/GALVANIZE/Projects/Q1P1/assets/mikemarlowheadshot 2.png" alt="">
                <div>
                <div class="expanded-info-container">
                  <h5>about mikemarlow</h5>
                  <p>I'm a web-developer out of Denver, Co. I am here to to convince you of nothing.</p>
                <div>
              </article>

          </details>

        <a class="projects-block">
            <h2>projects.</h2>
        </a>

        <a class="blog-block">
            <h2>blogs.</h2>
        </a>
      </div>
    </nav>


  </section>

</body>
</html>
