:root {
  font-size: 1rem;
}

* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: gray;
  font-family: sans-serif;
  min-height: 100vh;
  width: 100vw;
}

header, footer {
  align-items: center;
  display: flex;
  background-color: black;
  color: white;
  height: 10vh;
  padding: 0 12.5%;
}

header {
  justify-content: center;
  position: fixed;
  top: 0;
  width: 75%;
  z-index: 2;
}

/*main {
  height: 100%;
}*/

.nav-pane {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 10vh;
  width: 100%;
  z-index: 2;
  background-color: black;
  box-shadow: 10px 10px 40px black;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
}

.nav-pane a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5vh;
  width: 25%;
  background-color: blue;
  border-right: 1px solid white;
  color: white;
  font-variant: small-caps;
  opacity: 0.9;
  text-align: center;
  text-decoration: none;
}

.nav-pane p {
  letter-spacing: 3px;
}

.nav-pane a:nth-of-type(2){
  background-color: navy;
  font-style: italic;
}

.nav-pane a:hover {
  outline: 1px solid white;
  /*border-right: none;*/
}

.content-container {
  display: flex;
  justify-content: space-around;
  padding: 2rem 12.5%;
  margin-top: 15vh;
  flex: 1 0 auto;
  min-height: 66vh;
  position: relative;
  z-index: 1;
}


.body-summary {
  width: 10%;
  border-right: 1px solid black;
}

.goal-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 33%;
}

.content-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 75%;
}

.meetup-details {
  width: 70%;
  padding: 4rem 2rem;
  border-bottom: 1px solid black;
}

.post-nav {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.content-container {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  margin-top: 20vh;
  flex: 1 0 auto;
  height: 100%;
  position: relative;
  z-index: 1;
}

.body-summary, .body-details {
  height: 58vh;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}

.content-container h1, h2, h3, p, img {
  padding: .5rem 0;
}

ol {
  margin: 0;
}
