/* ||||B A S E   S T Y L E S||||  */
:root {
  font-size: 1rem;
}

/*@font-face {
    font-family: 'Dreamwave';
    src: url("fonts/HDreamwave-Regular.otf") format("opentype");
}*/

* {
  margin: 0;
}

body {
  background-color: white;
  min-height: 100vh;
  max-width: 100vw;
}


h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
}


/* ||||Top Section / header  S T Y L E S||||  */
.top-section {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  max-height: 20%;
  padding: 1rem;
}

.top-section h1 {
  padding: 1rem 2rem;
  color: black;
  font-size: 5rem;
  font-weight: 500;
}

.nav-details-container h2 {
  font-size: 3rem;
  cursor: pointer;
  letter-spacing: .4rem;
}

.heading-flex {
  width: 15%;
}

.heading-flex h1 {
  margin-left: 2rem;
  border-top: 2px solid black;
  border-left: 2px solid black;
}

.marlow--style {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  font-weight: 100;
  padding: 1rem;
}

.co-flex {
  align-content: flex-end;
  display: flex;
  justify-content: center;
  padding-right: 2rem;
  padding-top: 6rem;
  max-width: 25%
}

.location-icon {
  background-image: url('icons/pin-8-24.png');
  background-repeat: no-repeat;
  width: 22px;
  max-height: 32px;
}


/* ||||Body base   S T Y L E S||||  */
.bottom-section,
.blog-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(ellipse at center, rgba(169,228,247,1) 0%,rgba(15,181,231,1) 100%);
}

.bottom-section {
  min-height: 75vh;
}

.site-nav {
  height: 80%;
  min-width: 40%;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.site-nav a {
  text-decoration: none;
  color: black;
}

.nav-details-container {
  text-align: center;
  width: 100vw;
}

details summary::-webkit-details-marker {
  display: none;
}

summary {
  outline: 0;
}

.info-block,
.projects-block,
.blog-block {
  line-height: 2;
}

.info-container,
.projects-container,
.blog-container {
  background-color: white;
  box-shadow: 10px 10px 5px gray;
  /*border-radius: 20px;*/
  font-family: 'Raleway', sans-serif;
  padding: 1rem 6%;
  /*margin: 0 10%;*/
  /*max-height: 60%;
  max-width: 100vw;*/
  display: flex;
  align-items: center;
}

details[open] summary {
  /*padding-left: 50%;*/
  /*position: absolute;
  top: 18%;*/
}

details[open] {
  top: 22%;
}

details[open] summary h2 {
  /*outline: 1px solid white;*/
}

details[open] * {
  /*border: 1px solid red;*/
}

.headshot-container {
  max-width: -webkit-fill-available;
}

.headshot {
  border: 1px solid black;
  float: left;
  /*border-radius: 20px;*/
  max-height: 40vh;
  padding: 1rem;
  width: 100%;
}

.expanded-info-container {
  align-self: left;
  padding: .5 rem 1rem;
  text-align: left;
}

.expanded-info-container h3,
.expanded-info-container p {
  margin: 1rem 3rem;
}

.expanded-info-container h4 {
  font-weight: bold;
}

.blog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*width: 77%;
  max-height: 60%;*/
  background-color: white;
  /*margin: auto;*/
  /*text-align: center;*/
  /*justify-content: space-between;*/
}

.expanded-blog-container {
  /*min-height: 50vh;*/
  width: 100vw;
}

.blog-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 6%;
}

.blog-nav a {
  padding: 1rem;
  text-decoration: none;
  font-size: 2rem;
  color: black;
}

footer {
  border-top: 1px solid gray;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 3rem;
  padding-top: 1rem;
  max-height: 5%;
}





/* || blog stylings || */

/*.meetup-details {
  width: 80%;
  padding: 2rem 10%;
}

.blog-section {
  min-height: 25vh;
}*/

.blog-content-section {
  display: flex;
  width: 100%;
}

.left-content {
  width: 20%;
}

.blog-by-date {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10rem;
  padding: 1rem 2rem;
  text-align: center;
}

.right-content {
  width: 80%;
}

.blog-body {
  padding: 1rem 10rem;
  margin: 2rem 0;
  border-bottom: 1px solid gray;
}

.blog-body * {
  padding: 1rem 0;
}

.blog-body ul {
  margin-left: 1rem;
}



/* |||| MEDIA QUERIES |||| */


@media screen and (max-width: 960px),
       screen and (max-height: 780px) {


:root {
  font-size: .8rem;
}

.top-section {
  flex-direction: column;
  justify-content: space-around;
  height: 20%;
}

.co-flex {
  align-self: flex-start;
  justify-content: flex-start;
  margin-left: 3rem;
  padding-top: .5rem;
  height: 32px;
  width: 22%;
}

.location-icon {
  background-image: url('icons/pin-8-16.png')
}


.bottom-section {
  height: 70%;
}

.expanded-info-container p {
  margin: .5rem 1.5rem;
}

.headshot-container {
  max-width: -webkit-fill-available;
}

.headshot {
  /*border-radius: 20px;*/
  max-height: 60%;
  width: 80%;
}


}

@media screen and (max-width: 700px),
       screen and (max-height: 600px) {
  :root {
    font-size: .5rem;
  }

  .top-section,
  .bottom-section {
    max-width: 100vw;
  }

  .heading-flex h1 {
    font-size: 4rem;
    margin: 0;
  }

  .info-container {
    flex-direction: column;
  }

  .expanded-info-container {
    border-left: none;
  }

  .expanded-info-container p {
    margin: .5rem 1.5rem;
    font-size: 14px;
  }

  .headshot-container {
    /*padding: 0 15%;*/
    max-height: 40vh;
    display: flex;
    justify-content: center;
    max-width: 60%;
  }

  .headshot {
    /*max-height: 40%;*/
  }

  footer {
    padding-top: 1rem;
  }

}
