:root {
  font-size: 1rem;
}

* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: gray;
  font-family: sans-serif;
  min-height: 100vh;
  width: 100vw;
}

header, footer {
  align-items: center;
  display: flex;
  background-color: black;
  color: white;
  height: 10vh;
  padding: 0 2rem;
}

header {
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

main {
  height: 100%;
}

.nav-pane {
  align-items: center;
  display: flex;
  background-color: blue;
  opacity: 0.9;
  position: fixed;
  top: 10vh;
  width: 100%;
  z-index: 2;
  box-shadow: 10px 10px 40px black;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.nav-pane a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  width: 25%;
  border-right: 1px solid white;
  color: white;
  font-variant: small-caps;
  text-align: center;
  text-decoration: none;
}

.nav-pane p {
  letter-spacing: 3px;
}

.nav-pane a:first-of-type {
  background-color: navy;
  font-style: italic;
}

.nav-pane a:hover {
  outline: 1px solid white;
  border-right: none;
}

.content-container {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  margin-top: 20vh;
  flex: 1 0 auto;
  /*min-height: 100%;*/
  height: 100%;
  position: relative;
  z-index: 1;
}

.background-image {
  background-image: url('assets/hd-wallpapers-oak-wood-grain-pattern-1920x1200-wallpaper.jpg');
  /*background-image: url('assets/Dark-Elm.jpg');*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  opacity: 0.6;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.body-summary {
  width: 30%;
  border-right: 1px solid black;
}

.body-details {
  width: 70%;
}

.body-summary, .body-details {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  /*height: 50vh;*/
  height: 100%;
  z-index: 1;
}

/*.body-summary h2 {
  align-self: center;
}*/

.image-box {
  align-items: center;
  display: flex;
}

.headshot {
  max-height: auto;
  max-width: 50%;
}

footer {
  display: flex;
  justify-content: space-between;
  flex: 2 0 auto;
}

.social-media--links {
  display: flex;
  justify-content: space-between;
  width: 25%;
}

.social-media--links a {
  text-decoration: none;
  color: white;
  display: block;
}

.social-media--links a:hover {
  color: blue;
}

.social-media--links a:active {
  color: navy;
}

.logo {
  display: flex;
  flex-direction: column;
}

.logo img {
  max-width: 32px;
  align-self: center;
  padding-bottom: .2rem;
}
